# For the syntax and docs for this file check https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

*   @giulliano-bueno @jcyamacho

# x/events
x/events   @mcrakhman @jcyamacho
